# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.log

# Node
node_modules/
dist/
.cache/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
